.form-container {
  display: grid;
  place-items: center;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.625rem;
  width: 90%;
  max-width: 700px;

  input,
  textarea,
  select,
  .cb-container {
    width: 100%;
    padding: 0.9rem;
    border-radius: 5px;
    border: 2px solid $secondary-color;
    color: $secondary-color;
  }

  .cb-container {
    display: flex;
    justify-content: center;
    align-items: center;

    label {
      margin: 0 15px 0 5px;
    }
  }

  textarea {
    resize: none;
    min-height: 200px;
  }

  input[type='checkbox'] {
    width: auto;
  }

  ::placeholder {
    color: $secondary-color;
  }

  p {
    margin-bottom: 1.55rem;
  }

  button {
    width: 15%;
    min-width: 80px;
    font-size: 1.125rem;
  }
}
