.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 10;
  background-color: rgba(51, 51, 51, 0.6);
}

.modal {
  position: fixed;
  background-color: white;
  top: 25vh;
  left: 25%;
  width: 50%;
  min-height: 200px;
  max-height: 580px;
  z-index: 100;
  border: 2px solid $primary-color;
  border-radius: 0.625rem;
}
