.primary-btn {
  background-color: $primary-color;
  border-radius: 5px;
  color: white;
  height: 30px;
  width: 100px;
  cursor: pointer;
  @include easeOut;

  &:hover {
    @include blueBtnHover;
  }
}
