.report {
  .text-input-container {
    input {
      &:focus {
        border-color: $contrast-color;
      }

      &:focus + label {
        transform: translateY(-4.8em);
        color: $primary-color;
        padding-right: 1.5rem;
      }
    }
    label {
      width: fit-content;
      color: #666;
      transition: all 0.3s;
      transform: translateY(-3.1em);
      margin-left: 1rem;
      background-color: white;
    }
  }
}
