.secondary-btn {
  background-color: $secondary-color;
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  cursor: pointer;

  @include easeOut;

  &:hover {
    @include blueBtnHover;
  }
}
