.secondary-btn {
  background-color: $primary-color;
  border: 3px solid white;
  border-radius: 5px;
  padding: 0.3rem;
  font-size: 1.125rem;
  font-weight: bold;
  color: white;
  cursor: pointer;

  @include easeOut;

  &:hover {
    @include blueBtnHover;
  }
}
