.welcome {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 1 45%;
    min-width: 700px;
    min-height: 500px;
  }

  .cardImg {
    max-width: 100px;
  }
}
