.welcome {
  display: flex;
  margin-top: 8%;
  gap: 10px;
  padding: 0 20px;

  a {
    flex: 2;

    &:nth-of-type(1) {
      flex: 1;
    }
  }

  div {
    height: 700px;
    padding: 10px;

    p {
      font-size: 24px;
    }

    button {
      margin-top: auto;
    }
  }
}
