.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #174a5b;
}

.navbar img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.navbar img:hover {
  -webkit-filter: invert(92%) sepia(6%) saturate(2211%) hue-rotate(30deg) brightness(97%) contrast(83%);
          filter: invert(92%) sepia(6%) saturate(2211%) hue-rotate(30deg) brightness(97%) contrast(83%);
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.navbar ul li {
  margin: 0 0.625rem;
}

.navbar ul a {
  color: white;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navbar ul a:hover {
  color: #aed06c;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 3rem;
  background-color: #174a5b;
}

.footer small {
  color: white;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 10;
  background-color: rgba(51, 51, 51, 0.6);
}

.modal {
  position: fixed;
  background-color: white;
  top: 25vh;
  left: 25%;
  width: 50%;
  min-height: 200px;
  max-height: 580px;
  z-index: 100;
  border: 2px solid #174a5b;
  border-radius: 0.625rem;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #174a5b;
  border: 2px solid #174a5b;
  border-radius: 0.625rem;
  padding: 0.625rem;
}

.card .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 80px;
}

.card .card-content img {
  width: 100%;
  height: auto;
}

.card .card-content p {
  margin-bottom: 12.5rem;
}

.form-container {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 100%;
}

.form-container p {
  margin-bottom: 1.55rem;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.625rem;
  width: 90%;
  max-width: 700px;
  font-size: 1.125rem;
}

.form input,
.form textarea,
.form select,
.form .cb-container {
  width: 100%;
  padding: 0.9rem;
  border-radius: 5px;
  border: 2px solid #174a5b;
}

.form input:focus,
.form textarea:focus,
.form select:focus,
.form .cb-container:focus {
  border-color: #c3dc93;
}

.form .cb-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form .cb-container label {
  margin: 0 15px 0 5px;
}

.form .form-group {
  margin-bottom: -1.5rem;
}

.form .form-group input:focus + label,
.form .form-group input:not(:placeholder-shown) + label {
  -webkit-transform: translate(-1rem, -3.8em) scale(0.8);
          transform: translate(-1rem, -3.8em) scale(0.8);
  padding-right: 1.5rem;
}

.form .form-group label {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateY(-2.3em);
          transform: translateY(-2.3em);
  margin-left: 1rem;
  background-color: white;
}

.form .invalid {
  border-color: red;
}

.form .invalid input {
  border-color: red;
}

.form input::-webkit-input-placeholder {
  color: transparent;
}

.form input:-ms-input-placeholder {
  color: transparent;
}

.form input::-ms-input-placeholder {
  color: transparent;
}

.form input::placeholder {
  color: transparent;
}

.form textarea {
  resize: none;
  min-height: 200px;
}

.form input[type='checkbox'] {
  width: auto;
}

.form label,
.form select,
.form textarea::-webkit-input-placeholder {
  color: #174a5b;
}

.form label,
.form select,
.form textarea:-ms-input-placeholder {
  color: #174a5b;
}

.form label,
.form select,
.form textarea::-ms-input-placeholder {
  color: #174a5b;
}

.form label,
.form select,
.form textarea::placeholder {
  color: #174a5b;
}

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

.welcome .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.welcome .img {
  max-width: 100px;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

.products .card img {
  margin-top: 0.625rem;
}

.products .card button {
  border-radius: 0;
}

.products .card button:nth-child(2) {
  background-color: #c3dc93;
  color: black;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.primary-btn {
  border-radius: 5px;
  padding: 0.3rem;
  cursor: pointer;
  width: 15%;
  min-width: 80px;
  font-size: 1.2rem;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.blue {
  background-color: #174a5b;
  color: white;
}

.blue:hover {
  background-color: #0d2932;
}

.green {
  background-color: #c3dc93;
  color: black;
}

.green:hover {
  background-color: #a3c959;
  color: #174a5b;
}

.secondary-btn {
  background-color: #174a5b;
  border: 3px solid white;
  border-radius: 5px;
  padding: 0.3rem;
  font-size: 1.125rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.secondary-btn:hover {
  background-color: #0d2932;
}

.report-receipt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 200px;
  margin: 1rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  width: 100%;
}

main {
  margin: 1.25rem;
}

button {
  border: 0;
}

input,
textarea,
select {
  outline: none;
  font-size: 1.125rem;
}

a {
  text-decoration: none;
  font-size: 1.125rem;
}

h1 {
  font-size: 3.2rem;
  color: #174a5b;
}

h2 {
  font-size: 1.8rem;
  color: #174a5b;
}

p {
  font-size: 1.125rem;
  color: black;
}

@media screen and (max-width: 769px) {
  h1 {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
  }
  .navbar {
    min-height: 3.5rem;
  }
  .navbar img {
    width: 75px;
    height: auto;
    margin-left: 0.625rem;
  }
  .navbar li {
    font-weight: normal;
  }
  .secondary-btn {
    font-weight: normal;
  }
  .header {
    margin-bottom: 1rem;
  }
  .welcome .card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    min-height: 250px;
  }
  .products .card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    min-height: 250px;
  }
}

@media screen and (min-width: 770px) {
  .navbar {
    min-height: 5rem;
    padding: 0 5%;
  }
  .navbar img {
    width: 200px;
    height: auto;
  }
  .navbar li {
    font-weight: bold;
  }
  .secondary-btn {
    font-weight: bold;
  }
  .header {
    margin-bottom: 6.25rem;
  }
  .welcome .card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
    min-width: 700px;
    min-height: 500px;
  }
  .products .card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
    min-width: 700px;
    min-height: 500px;
  }
}
/*# sourceMappingURL=main.css.map */