@import 'config';
@import 'navbar';
@import 'modal';
@import 'login';
@import 'card';
@import 'report';
@import 'welcome';
@import 'videos';
@import 'header';
@import 'primary-btn';

* {
  box-sizing: border-box;
  margin: 0;
}

html body {
  height: 100vh;
  width: 100%;
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: $primary-color;
}

button {
  border: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 18px;
}
