@import 'config';
@import 'navbar';
@import 'modal';
@import 'login';
@import 'card';
@import 'report';
@import 'welcome';
@import 'videos';
@import 'header';
@import 'profile';
@import 'primary-btn';
@import 'secondary-btn';

* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

html body {
  height: 100vh;
  width: 100%;
  background-color: white;
}

main {
  margin: 20px;
}

button {
  border: 0;
}

input,
textarea {
  outline: none;
}

a {
  text-decoration: none;
  font-size: 18px;
}

h1 {
  font-size: 50px;
  color: $primary-color;
}

h2 {
  font-size: 30px;
  color: $primary-color;
}

p {
  font-size: 24px;
  color: $text-color;
}
