.navbar {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #174a5b;
}

.navbar-img {
  width: 100px;
  height: auto;
  margin: 40px;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 10;
  background-color: rgba(51, 51, 51, 0.6);
}

.modal {
  position: fixed;
  background-color: white;
  top: 25vh;
  left: 25%;
  width: 50%;
  min-height: 200px;
  max-height: 580px;
  z-index: 100;
  border: 2px solid #174a5b;
  border-radius: 10px;
}

.login {
  width: 600px;
  height: 600px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [gStart] 1fr 1fr 1fr;
      grid-template-columns: [gStart] 1fr 1fr 1fr;
  grid-auto-flow: row;
  grid-gap: 10px 10px;
  margin: auto;
  -ms-flex-line-pack: center;
      align-content: center;
}

.login button,
.login input,
.login h1,
.login p {
  grid-column: gStart;
  grid-row: auto;
}

.login button {
  grid-column: span 1;
}

.login input {
  grid-column: span 3;
}

.login h1,
.login p {
  grid-column: span 2;
}

.login input,
.login h1,
.login p {
  color: #174a5b;
}

.login p {
  margin-bottom: 25px;
}

.login input,
.login button {
  border: 2px solid #174a5b;
  border-radius: 5px;
  padding: 10px;
}

.login button {
  background-color: #174a5b;
  color: white;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  color: #174a5b;
  border: 2px solid #174a5b;
  border-radius: 10px;
}

.card button {
  color: white;
  background-color: #174a5b;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.card button:hover {
  background-color: #0d2932;
}

.subject {
  width: 700px;
  height: 700px;
}

.subject h2 {
  font-size: 48px;
}

.subject p {
  font-size: 24px;
}

.subject button {
  width: 500px;
  height: 60px;
  font-size: 24px;
}

.video-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.video-container .video {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  max-width: 30%;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin: 1.666666%;
  margin-bottom: 0;
}

.video-container img {
  height: 250px;
  width: auto;
  margin-top: 10px;
}

.video-container button {
  width: 400px;
  height: 30px;
  margin: 10px 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body {
  height: 100vh;
  width: 100%;
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
  border: 0;
}

li {
  list-style-type: none;
}
/*# sourceMappingURL=main.css.map */